<div class="app">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card drop-shadow">
                  <img src="https://yt3.ggpht.com/ytc/AAUvwnh7CHDDIuu6a87VwcIoDe-UeDb-Cfu8Ig8utAcGBDw=s900-c-k-c0x00ffffff-no-rj">
                </div>
            </div>
            <div class="col-md-4">
                <div class="card drop-shadow">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/President_Droupadi_Murmu_official_portrait_higher_version.jpg/330px-President_Droupadi_Murmu_official_portrait_higher_version.jpg">  
                </div>
            </div>
            <div class="col-md-4">
                <div class="card drop-shadow">
                   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Ys_jagan.png/330px-Ys_jagan.png">
                </div>
            </div>
        </div>
    </div>
</div>



